:root {
    --primary-color: #3684FD;
    --primary-color-light: #B5DDFF;

    --secondary-color: #9792E4;
    --secondary-color-light: #CBC9F1;

    --text-color: #000;
    --white-color: #FFF;
    --gray-color: #333;
    --yellow-color: #FBC15F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* REGOLE DI DEBUG */

.debug .box {
    height: 80px;
    padding: 1rem;
    background-color: var(--primary-color-light);
}

/* REGOLE COMUNI */

.container {
    max-width: 600px;
    margin: auto;
}

.px-2 {
    padding: 0 2rem;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* HEADER */

.site-header {
    width: 100%;
    background-color: var(--primary-color);
    margin-bottom: 3rem;
}

/* SEZIONE INTRO */

#intro .cards {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

#intro .card {
    margin: 0 0.75rem 1.5rem 0.75rem ;
    border-radius: 30px;
}

/* SEZIONE PLANNING */

#planning {
    background-color: var(--secondary-color);
    padding-top: 6rem;
    padding-bottom: 4rem;
}

#planning .column {
    margin: 2rem;
}

/* SEZIONE TESTIMONIAL */

#testimonial {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#testimonial .card {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: var(--secondary-color);
}

#testimonial .card-image {
    margin: 1rem;
}

/* SEZIONE BENEFITS */
#benefits {
    background-color: var(--secondary-color);
    padding-top: 6rem;
    padding-bottom: 4rem;
}

#benefits .cards {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

#benefits .card {
    margin: 0 0.75rem 1.5rem 0.75rem ;
    border-radius: 30px;
    background-color: var(--white-color);
}

/* SEZIONE ABOUT US */

#about-us {
    padding-top: 6rem;
    padding-bottom: 4rem;
}

#about-us h2 {
    margin-bottom: 2rem;
}

#about-us .main-text p {
    margin-bottom: 2rem;
}

/* SEZIONE GET STARTED  */

#get-started {
    background-color: var(--secondary-color);
    padding: 4rem 2rem;
}

/* FOOTER  */

.site-footer {
    background-color: var(--gray-color);
    padding: 4rem 2rem;
}



/* MEDIA QUERY */

/* TABLET */

@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    #intro .cards {
        display: flex;
        flex-wrap: wrap;
    }

    #intro .card:first-child {
        width: calc(66.666% - 1.5rem);
    }

    #intro .card {
        width: calc(33.333% - 1.5rem);
    }

    #testimonial .card {
        display: flex;
    }

    #testimonial .card-text {
        flex-grow: 1;
    }

    #testimonial .card-image {
        flex-shrink: 0;
        margin: 0 4rem 0 0;
    }

    #benefits .cards {
        display: flex;
        flex-wrap: wrap;
    }

    #benefits .card {
        width: calc(50% - 1.5rem);
    }

    #about-us .columns {
        display: flex;
        justify-content: space-between;
    }

    #about-us .column {
        width: calc(50% - 4rem);
    }

    #about-us .main-text {
        margin-right: 2rem;
    }

    #about-us .us-img {
        margin-left: 2rem;
    }

    #get-started .container {
        max-width: 570px;
    }

    .site-footer .container {
        max-width: 410px;
    }
}

/* DESKTOP */

@media screen and (min-width: 992px) {
    .container {
        max-width: 940px;
    }

    #intro .card:first-child {
        display: flex;
    }

    #intro .card:first-child .box {
        width: 50%;
    }

    #planning .columns {
        display: flex;
        align-items: flex-end;
    }

    #planning .column {
        width: calc(50% - 4rem);
    }

    #benefits .card {
        width: calc(33.333% - 1.5rem);
    }
}

/* DESKTOP LARGE */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}